
<div class="all-characters">
    <% let alphabeticalOrder = [] %>
    <!-- <%# let charNum = 1 %> -->
    <% characters.forEach(function(character) { %>
        <% if (character.name !== 'MINOR_CHARACTER') { %>
            <% alphabeticalOrder.push({"name": character.name, "wikiUrl":character.wikiUrl, "charId": character._id}) %>
        <% } %>
    <% }) %>

    <% alphabeticalOrder.sort(function(a, b) { %>
        <% if (a.name < b.name) { return -1; } %>
        <% if (a.name > b.name) { return 1; } %>
        <% return 0; %>    
    <% }) %>

    <div class="char-container">
        <% alphabeticalOrder.forEach(element => { %>
            <div class="char">
                <a class="char-img" href="/characters/<%= element.charId %>">
                    <img class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/2/24/Missing_avatar.svg" alt="img placer">
                </a>
                <h4 class="char-name">
                    <a href="/characters/<%= element.charId %>"><%= element.name %></a>
                </h4>
            </div>
        <% }) %>
    </div>
</div>