<h1>CHARACTERS</h1>

<% let alphabeticalOrder = [] %>
<% let charNum = 1 %>
<% characters.forEach(function(character) { %>
    <% if (character.hair || character.name == 'Gollum') { %>
        <% alphabeticalOrder.push({"name": character.name, "wikiUrl":character.wikiUrl, "charId": character._id}) %>
    <% } %>
<% }) %>

<% alphabeticalOrder.sort(function(a, b) { %>
    <% if (a.name < b.name) { return -1; } %>
    <% if (a.name > b.name) { return 1; } %>
    <% return 0; %>    
<% }) %>

<% alphabeticalOrder.forEach(element => { %>
    <div class="characters">
        <%= element.index = charNum %>
        <% charNum++ %>
        <a href="/characters/<%= element.charId %>"><%= element.name %></a>
    </div>
<% }) %>