<h1>CHARACTERS TESTING</h1>

<% let alphabeticalOrder = [] %>
<% let charNum = 1 %>
<% characters.forEach(function(character) { %>
    <% if (character.hair || character.name == 'Gollum') { %>
        <% alphabeticalOrder.push({"name": character.name, "wikiUrl":character.wikiUrl}) %>
    <% } %>
<% }) %>

<% alphabeticalOrder.sort(function(a, b) { %>
    <% if (a.name < b.name) { return -1; } %>
    <% if (a.name > b.name) { return 1; } %>
    <% return 0; %>    
<% }) %>

<% alphabeticalOrder.forEach(element => { %>
    <div class="characters">
        <%= element.index = charNum %>
        <% charNum++ %>
        <%= element.name %>
        <span><a href="<%= element.wikiUrl %>">(wiki)</a></span>
    </div>
<% }) %>
