
<div class="comments-container">
    <% users.forEach(user => { %>
        <p class="username font-bold">
            <%= user.dataValues.name %>
        </p>
        <div class="comments-box">
            <% user.dataValues.teams.forEach(team => { %>
                <div class="comments-group">
                    <p class="comments-team-name">
                        <%= team.name %> -
                    </p>
                    <p class="comments-team-comment">
                        <%= team.comment %>
                    </p>
                </div>
            <% }) %>
        </div>
    <% }) %>
</div>

