<div class="home-container">
    <div class="left-container">
        <div class="home-title font-center">
            <h1>
                Yes, mi Lord
            </h1>
        </div>
        <div class="home-info">
            A <span class="font-bold">Lord of the Rings</span> fanpage.  Explore characters from the epic trilogy and build your own fantasy team for destroying The One Ring! Comment and share your story!
        </div>
    </div>
    <div class="right-container font-center">
        <div class="register-form">
            <h4>Create New Account</h4>
            <form action="/auth/register" method="POST">
                <div class="form-group">
                    <label for="authName">Name</label>
                    <input id="authName" class="register-input" type="text" name="name">
                </div>
                <div class="form-group">
                    <label for="authEmail">Email</label>
                    <input id="authEmail" class="register-input" type="email" name="email">
                </div>
                <div class="form-group">
                    <label for="authPassword">Password</label>
                    <input id="authPassword" class="register-input" type="password" name="password">
                </div>
                <input class="sub-button" type="submit">
                <%- include('./partials/alerts') %>
            </form>
        </div>
    </div>    
</div>

