<h1>
    TEAMS
</h1>

<form action="/team" method="POST" autocomplete="off">
    <input type="text" name="name" placeholder="create a team">
    <input type="submit" value="add">
</form>
<div style="width:200px">
    <%- include('./partials/alerts') %>
</div>


<% teams.forEach(team => { %>
    <div>
        <h4>
            <a href="/team/<%= team.name %>"><%= team.name %></a>
        </h4>
        <form action="/team/<%= team.id %>/?_method=DELETE" method="POST">
            <input type="submit" value="delete">
        </form>
    </div>
<% }) %>