<form class="team-form" action="/team" method="POST" autocomplete="off">
    <input class="team-form-input" type="text" name="name" placeholder="create a team">
    <input class="team-form-button" type="submit" value="add">
</form>

<div class="alert-container">

</div>

<% teams.forEach(team => { %>
    <div class="team-row">
        <h4 class="team-name">
            <a href="/team/<%= team.name %>"><%= team.name %></a>
        </h4>
        <form class="del-form" action="/team/<%= team.id %>/?_method=DELETE" method="POST">
            <input class="del-btn" type="submit" value="delete">
        </form>
    </div>
<% }) %>