<h1>TEAMMATES</h1>

<form action="" id="teamDescription" method="POST">
    <label for="teamFlavor">About This Fellowship:</label>
    <div>
        <textarea name="teamDescription" id="teamFlavor" cols="30" rows="10" form="teamDescription" placeholder="You have been chosen..."></textarea>
    </div>
</form>

<br />

<div>
    <a href="/team"><< team</a>
</div>